

body{
    background-color:rgb(207, 186, 207);
}


.botton-container{
    position: absolute;
    top: 40px;
    left: 20px;
}

.input{
    background-color: antiquewhite;
    color: black;
}

.button{
    background-color:crimson;
    color: white;
}

